:root {
--text: #181612;
--background: #f7f5f4;
--primary: #a9937f;
--secondary: #75aca7;
--accent: #7f90c9;
}
body {
    color: var(--text);
    background: var(--background);
    font-family: "Playpen Sans Hebrew";
    font-size:.45cm;
    font-weight:500;
    font-style:normal;
}
audio {
    background: var(--secondary);
}
h1 {
    background: var(--accent);
    font-family: "Bagel Fat One";
    font-weight:lighter;
    font-size:1.3cm;
    text-decoration: underline;
    border: 2px solid rgb(43, 23, 97);
    padding:.1em;
    text-shadow: 1px 3px rgb(201, 181, 255);
}
h2 {
    background: var(--secondary);
    font-family: "Bagel Fat One";
    font-weight:lighter;
    font-size:.8cm;
    padding: .2em;
    margin: 1em;
    color:black;
    text-shadow: 2px 3px rgb(108, 121, 197);
}
h3 {
    font-family: "Bagel Fat One";
    font-weight:lighter;
    font-size:.7cm;
    border:1px solid black;
    text-shadow: 2px 3px rgb(221, 165, 221);
}
em {
    text-decoration:underline;
}
li::marker{
    color:rgb(154, 111, 187);
}
:link {
    color:rgb(8, 59, 148);
    text-decoration:overline;
    font-family:"Bagel Fat One";
    margin:2em;
    text-shadow:1px 2px rgb(10, 238, 59);
}
img {
    border:4px solid rgb(139, 133, 192);
    width: 400px;
    height:280px;
    margin:1em;
    box-shadow: 5px 5px rgb(51, 47, 68);
}