:root {
--text: #181612;
--background: #f7f5f4;
--primary: #a9937f;
--secondary: #75aca7;
--accent: #7f90c9;
}
body {
    color: var(--text);
    background: var(--background);
    font-family: "Playpen Sans Hebrew";
    font-size:.45cm;
    font-weight:500;
    font-style:normal;
}
audio {
    background: var(--secondary);
}
h1 {
    background: var(--accent);
    font-family: "Bagel Fat One";
    font-weight:lighter;
    font-size:1.3cm;
}
h2 {
    background: var(--secondary);
    font-family: "Bagel Fat One";
    font-weight:lighter;
    font-size:.8cm;
}
h3 {
    font-family: "Bagel Fat One";
    font-weight:lighter;
    font-size:.7cm;
}

li::marker{
    color:rgb(154, 111, 187)
}
